html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 


/* GRID SYSTEM */ 
  
.box {
  background-color: grey;
  border: 1px solid royalblue;

}

.layout-grid {
  display: grid;
  grid-template-areas:
      "header"
      "content"
      "footer";

  grid-gap: 0px;
  /* width: 100vw;
  height: 100vh; */
}

.header {
  grid-area: header;
  height: 123px;
}

.content {
  grid-area: content;
  min-height: 50vh; 
  margin: 24px;
}

.footer {
  display:flex;
  grid-area: footer;
  max-height: 50px;
  height: 28px;

  justify-content: center;
  align-items: center;
  color:rgb(104, 104, 104);
  background-color: #DEDEDE;
}

/* toDo */
@media (max-width: 768px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  .layout-grid {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
  
    grid-gap: 0px;
    /* width: 100vw;
    height: 100vh; */
  }
}

/* Products related css */

/* .emulated-flex-gap {
  --gap: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.emulated-flex-gap > * {
  margin: var(--gap) 0 0 var(--gap);
} */

.product-image{
  width: 262px;
  height: 349px;
}

.product-image-thumb{
  width: 110px;
  height: 130px;
}

.product-title{
  margin-bottom: 10px;
  word-wrap: break-word;
}

.product-tag{
  font-size: 16px;
  margin-bottom: 8px;
}

.product-desc {
  position: absolute;
  padding-top: 15px;
  padding-left: 15px; 
  bottom: 0;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 100%;
}


/* todo for dynamic/responsive */
.product{
  /* display:grid; */
  max-width: 262px;
  max-height: 465px;
  height: 455px;
  /* outline: #E5E5E5 solid 1px; */
  position: relative;
}

.products{
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(262px, 1fr));
  grid-row-gap: 35px;
  grid-column-gap: 20px;
}

.products-heading{
  font-size: 21px;
  margin-top: 16px;
  margin-bottom: 27px;
  text-transform: capitalize;
}

.products-heading > span {
  font-weight:lighter;
}

.products-filters{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 26px;
}

.select-container{
  margin-bottom: 8px;
}

.select-size{
  display:flex;
  flex-wrap: wrap;
}


/* header section */

.header-top{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom{
  display: flex;
  height: 53px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,#181716, #ED4E08);
  color: white;
}

.logo{
  margin: 16px 25px 16px 25px;
}

.nav{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.nav-item {
  margin: 27px 21px;
}

.panel{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
}

.panel-item{
  margin: 25px 11.23px;
}

.image-loader{
  display: flex;
  outline: #E5E5E5 solid 1px;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.no-display{
  display:none;
}

/** misc */ 

.font-bold{
  font-weight: bold;
}

.line{
  width:inherit;
  padding-bottom: 25px;
  border-top: 1px solid #E5E5E5;
}

.color-grey{
  color:grey;
}

.color-red{
  color:red;
}

.capitalize{
  text-transform: capitalize;
}

.strikethru{
  text-decoration-line: line-through;
}

.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-21{
  font-size: 21px;
}

.filter-button{
  display: inline-block;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 52px;
  padding: 12px 33px;
  color: #C4C4C4;
  cursor: pointer;
  margin-left: 20px;
}

.filter-button:hover{
  background-color: #C4C4C4;
  color:#181716
}

.invite-button{
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 20px;
  color : black;
  font-size: 14;
  padding: 6px 14px;
  margin: 0px 20px;
}

.circle-button{
  display: inline-block;
  /* box-sizing: border-box; */
  
  margin: 11px 9px 17px 0px;
  padding: 8px 10px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  width:38px;
  height:38px;
  cursor: pointer;
  text-align: center;
}

.circle-button:hover{
  background-color: #C4C4C4;
  color:#181716
}

.cart-button-container{
  margin-top: 20px;
  margin-bottom: 12px;
}

.cart-button{
  display: flex;
  border: 1px solid #878787;
  border-radius: 3px;
  width: 232px;
  height: 36px;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.altcart-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #878787;
  height: 36px;
  width: 40px;
  cursor:pointer;
  font-size: larger;
  font-weight: bolder;
}

.quantity-display{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #878787;
  height: 36px;
  margin: 0px 10px;
  padding: 0px 20px;
  font-size:medium;
  font-weight:600;
}

.page{
  height:70vh;
}

.cart-container{
  max-width: 550px;
}

.checkout-item{
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  border: 1px solid #878787;
  margin: 5px 0px;
  padding: 10px;

}

.checkout-item > * {
  margin-left: 10px;
}